<div id="page" class="bg-page-pattern lg:-mt-[66px] lg:pt-[86px]">
  <div id="content" class="flex gap-8 justify-items-start">
    <div id="main-content-start" class="flex-grow max-w-full">
      {% block mainContent %}
        {% cache %}
          <div class="lg:container px-4">
            <h1 class="main-heading">{{ pageHeading }}</h1>
          </div>
          <div class="default-content">
            {% include '_partials/contentBuilder' with {contentField: entry.mainContent, blocksDir: 'mainContent'} %}
          </div>
        {% endcache %}
      {% endblock %}
    </div>
  </div>
</div>
