<div class="top-map">
  <a class="map" target="_blank" href="https://www.google.com/maps/place/Penzi%C3%B3n+Rojas/@48.847878,19.626356,773m/data=!3m1!1e3!4m5!3m4!1s0x0:0xc7869ce212391847!8m2!3d48.847878!4d19.626356?hl=en-US"><span class="link">Zobraz mapu</span></a>
</div>