<div class="text-two-columns-wrap">
  <div class="lg:container px-4">
    <div class="text-two-columns md:grid md:grid-cols-2 gap-8">
      <div class="first-column col-span-1">{{ block.firstColumn }}</div>
      <div class="second-column col-span-1">{{ block.secondColumn }}</div>
    </div>
  </div>
</div>